.App {
  text-align: center;
  color: white;
}

body {
  background-color: rgb(39, 1, 89);
}

.gif {
  margin: 5px;
  border: solid 5px black;
  position: relative;
}

/* .searchField{
  float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
}

main-search-button{

  background: #4DB7FE;
}

.searchButton {
position: absolute;
right: 0px;
height: 50px;
width: 120px;
color: #fff;
top: 0;
border: none;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
cursor: pointer;
} */